body {
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the "Connect Wallet" button */
.connect-wallet-btn {
    background-color: #252525; /* Button background color */
    color: #fff; /* Text color for the button */
    border-radius: 7px;
    padding: 10px 15px;
    text-decoration: none;
}

.disconnect-wallet-btn{
    background-color: #e70101; /* Button background color */
    color: #fff; /* Text color for the button */
    border-radius: 7px;
    padding: 10px 15px;
    text-decoration: none;
}

/* Hover effect for the button */
.connect-wallet-btn:hover {
    background-color: #000 /* Button background color on hover */
}

.disconnect-wallet-btn:hover{
    background-color: #cb0505;
}
h1 {
    font-size: 24px;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#validationResult {
    font-size: 18px;
    margin-top: 20px;
}

.checkmark {
    animation: checkmarkAnimation 0.5s ease infinite;
}
*{
    font-family: Inter, sans-serif;
}
html{
    position:relative; 
    min-height: 100%;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
.vertical-bar {
    width: 1.2px;
    height: 25px;
    background-color: #bbbbbb;
    margin: 0 15px;
}
.btn-transparent {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important; /* Icon color */
}

.navbar-right{
    margin-right: 30px;
}

.dark-mode-icon {
    color: #fff; /* White color for the icon */
}

.navbar {
    width: 100%;
    padding: 0.1rem 0; /* Adjust padding as needed to decrease the height */
}

.navbar2 {
    background-color: #fff;
    padding: 15px 0;
    -webkit-box-shadow: 0px 9px 10px -15px rgba(153,153,153,1);
    -moz-box-shadow: 0px 9px 10px -15px rgba(153,153,153,1);
    box-shadow: 0px 9px 10px -15px rgba(153,153,153,1);
}

.navbar-logo {
    max-height: 50px; /* Adjust the logo height as needed */
    margin-left: 1rem;
}

.comdrop{
    display: none;
}


.navbar-link{
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
}

.btn-transparent {
    background-color: transparent !important;
    color: #ffffff !important; /* Text color */
    border: none !important;
    font-weight: 500;
}

.btn-transparent2{
    background-color: transparent !important;
    color: #333 !important; /* Text color */
    border: none !important;
    font-weight: 500;
}

.navbar-dropdown-item {
    color: #333;
}

.navbar-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 0.5rem;
}

#servicesDropdown {
    font-size: 1.04rem; /* Adjust the font size as needed */
    padding: 0.375rem 1rem; /* Adjust the padding as needed */
}

/* Indivisual speciality */


.containerCSV {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}
.headCSV {
    font-size: 24px;
}
.labelCSV {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}
.inputCSV{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttonCSV {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.buttonCSV:hover {
    background-color: #0056b3;
}

/* Footer styles */
.footer {
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Left part styles */
.footer-left {
    font-size: 14px;
    color: white;
    text-align: center;
}
.govtBottom{
    margin: 0;
}

/* Right part styles */
.footer-right > a {
    font-size: 14px;
    color: white;
}

/* Separator between links */
.separator {
    margin: 0 10px; /* Adjust margin as needed */
}
#uploadCSV{
    width: 200px;
}
@media(max-width:920px){

    
    .navbar-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        gap: 0.1rem;
        margin-right: 0.5rem;
    }
    .comdrop{
        display: inline;
    }
    .remdrop{
        display: none;
    }
    /* Footer styles */
    .footer {
        /* Text color */
        padding: 10px 20px; /* Adjust padding as needed */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    /* Left part styles */
    .footer-left {
        font-size: 14px;
        color: white;
        text-align: center;
    }
    .govtBottom{
        margin: 0;
    }

    /* Right part styles */
    .footer-right > a {
        font-size: 14px;
        color: white;
    }

}